<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

  <appSettings>
    <!--本地报文所在路径-->
    <add key="localBizFilePath" value="D:\dzxml\371425\BizMsg"/>
    <!--间隔几分钟执行-->
    <add key="Interval" value="5"/>
  </appSettings>

  <connectionStrings>

    <add name="sqlserver" connectionString="Data Source=localhost;Initial Catalog=SDLLFDC;Persist Security Info=True;User ID=sa;Password=123456;"
      providerName="System.Data.SqlClient"/>

    <!--<add name="qhsubmit" connectionString="Data Source=10.17.8.6/ORCL;User Id=SUBMIT;Password=SUBMIT;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="qysubmit" connectionString="Data Source=10.17.11.224/ORCL;User Id=SUBMIT;Password=SUBMIT;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="xjsubmit" connectionString="Data Source=10.17.6.16/ORCL;User Id=SUBMIT;Password=SUBMIT;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="pysubmit" connectionString="Data Source=10.17.5.48/ORCL;User Id=SUBMIT;Password=SUBMIT;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="sjsubmit" connectionString="Data Source=10.17.1.195/ORCL;User Id=submit;Password=submit;" providerName="Oracle.ManagedDataAccess.Client" />-->

    
    <add name="qhsubmit" connectionString="Data Source=localhost/ORCL;User Id=submit;Password=submit;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="sjsubmit" connectionString="Data Source=localhost/QHORCL;User Id=submit;Password=submit;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="estate" connectionString="Data Source=localhost/ORCL;User Id=estate;Password=123;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--Oracle.ManagedDataAccess  Oracle.DataAccess.Client     System.Data.OracleClient-->

  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>


</configuration>